<table>
  <tr>
    <th>Cat</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>

  <tr>
    <td> <%= @cat_rental_request.cat.name %> </td>
    <td> <%= @cat_rental_request.start_date %> </td>
    <td> <%= @cat_rental_request.end_date %> </td>
  </tr>
</table>
